/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorBox,
.colorInput input[type='text'] {
  border: 2px solid #000;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.colorBox {
  height: 300px;
  width: 300px;
  display: grid;
  place-content: center;
}

form {
  width: 300px;
}

.colorInput input[type='text'] {
  padding: 0.25rem;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.colorInput label {
  position: absolute;
  left: -99999px;
}